# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Additionals
kconf/mconf
kconf/conf
.tmp_versions
*.cmd
*.order
*.mod.c
Module.symvers
.config
.config.old
.kernel_config_md5
Kconfig.kernel
Kconfig.versions
backport-include/backport/autoconf.h
